    /*
#switches path {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
*/

body {
  /* body should fill screen and
  nothing should scroll beyond it

  TODO get working:
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  */
}

.progress.above-icons{
  margin-bottom: 0;
}

.pointsFeedbackIcons {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.pointsFeedbackIcons__left {
  flex-grow: 1; /* control mid-point between left and right containers */

  display: flex;
  flex-flow: row;
  justify-content: flex-end; /* right-aligned in this case */

  margin-right: 0.1rem;
}
.pointsFeedbackIcons__right {
  flex-grow: 1; /* control mid-point between left and right containers */

  display: flex;
  flex-flow: row;
  justify-content: flex-start; /* right-aligned in this case */

  margin-left: 0.1rem;
}
.pointsFeedbackIcons,
.pointsFeedbackIcons__left > svg,
.pointsFeedbackIcons__right > svg {
  height: 1.5rem;
}
.pointsFeedbackIcons__left > svg,
.pointsFeedbackIcons__right > svg {
  width: 1.858rem; /* same ratio as svg -> 1.238 x height*/

  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

#levelMountPoint > svg {
  width: 100%;
  height: 100%;
}

/**
* code adapted from http://stackoverflow.com/questions/22908242/rotate-image-around-center-css3
*/
#switches path {
  /*
  -webkit-animation: tick 2s infinite linear;
  -moz-animation: tick 2s infinite linear;
  -o-animation: tick 2s infinite linear;
  -ms-animation: tick 2s infinite linear;
  */
  /*animation: tick1 2s infinite linear;*/
  animation: tick1 5.5s infinite ease-in-out;
  /* animation: tick1 30s infinite ease-in-out; */
  transform-origin: 50% 50%;
  display: block;
}


@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@-webkit-keyframes tick1 {
  0% { -webkit-transform: rotate(0deg); }

  15% { -webkit-transform: rotate(0deg); } /* tick start*/
  23% { -webkit-transform: rotate(100deg); } /* bounce */
  25% { -webkit-transform: rotate(90deg); } /* tick end */

  40% { -webkit-transform: rotate(90deg); }
  48% { -webkit-transform: rotate(190deg); }
  50% { -webkit-transform: rotate(180deg); }

  65% { -webkit-transform: rotate(180deg); }
  73% { -webkit-transform: rotate(280deg); }
  75% { -webkit-transform: rotate(270deg); }

  90% { -webkit-transform: rotate(270deg); }
  98% { -webkit-transform: rotate(370deg);}
  100% { -webkit-transform: rotate(360deg);}
}

@-keyframes tick1 {
  0% { transform: rotate(0deg); }

  15% { transform: rotate(0deg); } /* tick start*/
  23% { transform: rotate(100deg); } /* bounce */
  25% { transform: rotate(90deg); } /* tick end */

  40% { transform: rotate(90deg); }
  48% { transform: rotate(190deg); }
  50% { transform: rotate(180deg); }

  65% { transform: rotate(180deg); }
  73% { transform: rotate(280deg); }
  75% { transform: rotate(270deg); }

  90% { transform: rotate(270deg); }
  98% { transform: rotate(370deg);}
  100% { transform: rotate(360deg);}
}
